{% extends "base.html" %}
{% block contenu %}
    <h2>Créer un compte</h2>
    <form method="POST">
        <input type="text" name="nom" placeholder="Nom complet" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="mot_de_passe" placeholder="Mot de passe" required>

        <select name="role" required>
            <option value="" disabled selected>Je suis...</option>
            <option value="client">Client</option>
            <option value="agriculteur">Agriculteur</option>
            <option value="fournisseur">Fournisseur (semences / pépinières)</option>
            <option value="financeur">Organisme de financement</option>
        </select>

        <button type="submit">S'inscrire</button>
    </form>
{% endblock %}
